registry=https://repo.sending.me
//https://repo.sending.me/:username=kanechen
//https://repo.sending.me/:_password=Sending.me123456789
//https://repo.sending.me/:email=kanechen@sding.me
//https://repo.sending.me/:always-auth=true